.screen {
    padding: 50px 0;

    &__portfolio {
        position: relative;
        background: #4ab19d;
        padding: 50px 0;
        margin-top: 50px;

        & > div {
            display: grid;
            grid-template-columns: 1fr;
            column-gap: 30px;
            row-gap: 30px;
        }
    }

    &__portfolioBg {
        position: absolute;
        width: 100%;
        bottom: 0;
        left: 0;
        z-index: 1;
        max-height: 800px;
    }

    .portfolioItem {
        position: relative;
        z-index: 10;
        background: white;
        // color: white;
        padding: 30px;
        box-shadow: 0 15px 28px rgba(35, 46, 59, 0.24);
        height: 400px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        h3 {
            font-size: 24px;
            line-height: 30px;
        }

        p {
            font-size: 16px;
            line-height: 24px;
        }
    }
}

@media (min-width: 768px) {
    .screen {
        &__portfolio {
            & > div {
                grid-template-columns: 1fr 1fr;
            }
        }
    }
}

@media (min-width: 997px) {
    .screen {
        &__portfolio {
            & > div {
                grid-template-columns: 1fr 1fr 1fr;
            }
        }
    }
}
