.projectCard {
	h2 {
		font-size: 36px;
		line-height: 48px;
		text-align: center;
		color: #0a2e36;
	}
	&__skills {
		width: 100%;
		margin: auto;
		text-align: center;
		margin-top: 30px;
	}

	&__description {
		font-weight: 400;
		font-size: 18px;
		line-height: 28px;
		color: #0a2e36;
		width: 100%;
		margin: auto;
		text-align: center;
		min-height: 100px;
	}
}
