.modal {
    // display: grid;
    // grid-template-columns: 55% auto;
    // column-gap: 60px;

    &__btn {
        margin-top: 20px;
    }

    &__disclaimer {
        margin-top: 40px;
        font-size: 14px;
        line-height: 22px;
    }

    &__mockup {
        img {
            width: 100%;
        }
    }
}

@media (min-width: 768px) {
    .modal {
        width: 380px;
    }
}
