.screen {
    padding: 65px 0 150px 0;
    color: #344e5c;

    h2 {
        font-weight: bold;
        font-size: 48px;
        line-height: 56px;
        margin-bottom: 20px;
        margin-top: 0;
    }

    h1 {
        font-weight: bold;
        font-size: 32px;
        line-height: 40px;
        margin-top: 0;
        margin-bottom: 40px;
    }
}
