.button {
    height: 60px;
    min-width: 135px;
    border-radius: 5px;
    outline: none;
    border: none;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    padding: 0 30px;

    &_blue {
        background: #5cb6a3;
        color: white;
    }

    &_stretch {
        width: 100%;
    }

    &_loading {
        opacity: 0.3;
        pointer-events: none;
    }
}
