.postBody {
	font-family: 'Georgia';
	p,
	ul,
	ol {
		font-size: 21px;
		line-height: 1.58;
		margin-top: 2em;
		margin-bottom: 0;
		font-weight: 400;
	}

	p,
	h1,
	h2,
	h3,
	h4,
	pre,
	img {
		padding-right: 15px;
		padding-left: 15px;
		margin-right: auto;
		margin-left: auto;
		width: 100%;
		box-sizing: border-box;
	}

	img {
		height: auto;
	}

	pre {
		background: #0a2e36;
		color: white;
		padding: 15px;
		border-radius: 6px;
		margin-top: 15px;
		margin-right: 15px;
		margin-left: 15px;
		width: 100%;
		box-sizing: border-box;
		width: call(100% - 30px);
	}

	ul,
	ol,
	li {
		margin-left: auto;
		margin-right: auto;
	}
	ul li,
	ol li {
		margin-top: 1.34em;
		font-size: 21px;
		line-height: 1.58;
		&:first-child {
			margin-top: 0.5em;
		}
	}

	h1,
	h2,
	h3,
	h4,
	h5 {
		margin-top: 2.25em;
		margin-bottom: -1.28em;
		font-weight: bold;
	}
}

.gistTitle {
	display: none;
}

.gist {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 30px;
}

@media (min-width: 768px) {
	.postBody {
		p,
		h1,
		h2,
		h3,
		h4,
		ul,
		li,
		pre {
			width: 680px;
		}

		pre {
			margin-left: auto;
			margin-right: auto;
		}

		img {
			max-width: 680px;
		}

		.gist {
			max-width: 680px;
		}
	}
}
