@font-face {
    font-family: 'Gotham Rounded';
    src: url('/fonts/GothamRounded-Book.woff2') format('woff2'),
        url('/fonts/GothamRounded-Book.woff') format('woff'),
        url('/fonts/GothamRounded-Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Rounded';
    src: url('/fonts/GothamRounded-MediumItalic.woff2') format('woff2'),
        url('/fonts/GothamRounded-MediumItalic.woff') format('woff'),
        url('/fonts/GothamRounded-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Gotham Rounded';
    src: url('/fonts/GothamRounded-Medium.woff2') format('woff2'),
        url('/fonts/GothamRounded-Medium.woff') format('woff'),
        url('/fonts/GothamRounded-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Rounded';
    src: url('/fonts/GothamRounded-Light.woff2') format('woff2'),
        url('/fonts/GothamRounded-Light.woff') format('woff'),
        url('/fonts/GothamRounded-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Rounded';
    src: url('/fonts/GothamRounded-LightItalic.woff2') format('woff2'),
        url('/fonts/GothamRounded-LightItalic.woff') format('woff'),
        url('/fonts/GothamRounded-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Gotham Rounded';
    src: url('/fonts/GothamRounded-Bold.woff2') format('woff2'),
        url('/fonts/GothamRounded-Bold.woff') format('woff'),
        url('/fonts/GothamRounded-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

//Georgia Font
@font-face {
    font-family: 'Georgia';
    src:url('/fonts/Georgia.woff2') format('woff2'),
       url('/fonts/Georgia.woff') format('woff'),
       url('/fonts/Georgia.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Georgia';
    src:url('/fonts/Georgia-BoldItalic.woff2') format('woff2'),
       url('/fonts/Georgia-BoldItalic.woff') format('woff'),
       url('/fonts/Georgia-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Georgia';
    src:url('/fonts/Georgia-Bold.woff2') format('woff2'),
       url('/fonts/Georgia-Bold.woff') format('woff'),
       url('/fonts/Georgia-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Georgia';
    src:url('/fonts/Georgia-Italic.woff2') format('woff2'),
       url('/fonts/Georgia-Italic.woff') format('woff'),
       url('/fonts/Georgia-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}


