body {
	font-family: 'Gotham Rounded';
	color: #0a2e36;
}
p {
	font-weight: 400;
	font-size: 16px;
	line-height: 32px;
	letter-spacing: 0.02em;
}

ul {
	li {
		margin-top: 1.34em;

		&:first-child {
			margin-top: 1em;
		}
	}
}

.block-img {
	display: flex;
	justify-content: center;
}

.container,
.post-container {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}

.small-container {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}

.small-h1 {
	display: inline;
	margin: 0;
	padding: 0;
	font-weight: 400;
	font-size: 16px;
	line-height: 32px;
	letter-spacing: 0.02em;
}

@media (min-width: 575px) {
	.small-container {
		width: 570px;
	}
}

@media (min-width: 768px) {
	.container {
		width: 750px;
	}

	.post-container {
		width: 680px;
	}
}

@media (min-width: 992px) {
	.container {
		width: 970px;
	}
}

@media (min-width: 1200px) {
	.container {
		width: 1020px;
	}
}
